.venv/
__pycache__/
*.py[cod]

build/
dist/
installer_build/
installer_build_v*/
installer_payload*/
installer_payload_latest/
github_publish/
isir/
.tmp/
Nová složka/

data/
downloaded_documents/
exports/
SRSS/
*.db
*.sqlite
*.sqlite3
*.zip
*.log
*.tmp
*.TMP

*.spec
*.toc
*.pyz
*.pkg

ISIR-Kontrola-Setup*.exe
ISIR-Kontrola.exe
